
/* phone styles */
body {
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    margin: 0;
    padding:1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    background:rgba(255, 255, 255);
}
nav{
    border-radius: 5em;
    width: 20em;
    height:1.5em;
    background: linear-gradient(190deg,rgba(32, 30, 130, 1) 0%, rgba(15, 14, 123, 1) 23%, rgba(9, 9, 121, 1) 31%, rgba(235, 2, 6, 1) 100%, rgba(35, 21, 125, 1) 51%, rgba(0, 212, 255, 1) 81%);
    padding-top: 0.25em;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
aside{
    padding: 0.5em;
    width: 25%;
    float: left;
    background: black;
    color: white;
}
.profile{
    width: 50%;
    border-radius: 50%;
    float: left;
}
main{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    border: 0;
}
h2{
    margin: 0;
    padding: 0;
    border: 0;
}
h3{
    margin: 0;
    padding: 0;
    border: 0;
}
#about{
    width: 66%;
    padding: .6em;
    padding-top: 3em;
    padding-bottom: 4.3em;
    border: 0;
    margin-left: 26%;
    text-align: center;
}
.section-title{
    text-align: center;
}
#projects{
    width:90%;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project{
    border:.2em solid black;
    border-radius: 2em;
    background: gray;
    margin: 1em;
    padding: 1em;
}
.project-image{
    width: 25%;
    height: auto;
    border-radius: 1em;
}
#skills{
    width: 90%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact{
    width: 90%;
    padding: 1em;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
#contact p{
    margin: 0;
    padding: 0;
    border: 0;
}
footer{
    width: 95%;
    padding: 0.5em;
    text-align: center;
    background: linear-gradient(190deg,rgba(32, 30, 130, 1) 0%, rgba(15, 14, 123, 1) 23%, rgba(9, 9, 121, 1) 31%, rgba(235, 2, 6, 1) 100%, rgba(35, 21, 125, 1) 51%, rgba(0, 212, 255, 1) 81%);
}


























/* desktop styles */
@media (min-width:1024px) {
    body {
        margin: 0;
        padding: 0;
        border: 0;
        }  
    header{
    margin: 0;
    padding:1em;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
nav{
    border-radius: 5em;
    width: 35em;
    height:3em;
    padding-top: 1.8em;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1.2em;
}
#projects{
    width:90%;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
}
/* tablet styles */
@media (min-width:768px) {
    body {
        margin: 0;
        padding: 0;
        border: 0;
    }
}